// If you are here, thank you so much :D
// Pencilcase is magnificently powered up by node-sass and gulp
// Do your stuff, remember to brush your teeth and be an amazing person (or dog 🐶).

@keyframes glow {0% {box-shadow: 0 2px 13px rgba(255,255,255,0.3);}100% {box-shadow: 0 2px 53px rgba(255,255,255,.3);}}
@keyframes shake {0%, 30%, 100% {transform: translateX(0px)}, 10% {transform: translateX(3px)}, 20% {transform: translateX(-3px);} }
@keyframes float {
	0% {
		transform: translateY(0px);
		opacity: 0;
	}
	40%, 80% {
		opacity: 1;
	}
	100% {
		transform: translateY(-300%);
		opacity: 0;
	}
}
body {
	margin: 0;
	padding: 0;
	background-color: #031634;
}

// Pencilcase
.pencilcase {
	font-family: Gudea, Tahoma, sans-serif;
	font-size: 16px;
	color: #fff;
}
.pencilcase__row {
	max-width: 1040px;
	width: 100%;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 0 20px;
	&--intro {
		box-shadow: 0 0 13px rgba(0,0,0,.3);
		padding: 20px 20px;
		background-color: #033649;
		text-align: center;
		min-height: 100vh;
	}
}
.pencilcase__title {
	font-size: 3em;
	letter-spacing: .05em;
	margin: 0;
	padding: .3em 0;
	word-spacing: 0.2em;
}
.pencilcase__description {
	font-size: 1.5em;
	letter-spacing: .05em;
	margin: 0 0 1em;
}
.pencilcase__media {
	display: block;
	max-width: 500px;
	width: 100%;
	height: auto;
	margin: 0 auto;
	box-shadow: 0 2px 13px rgba(255,255,255,.3);
	animation: glow 3s ease-in-out 0s infinite alternate, shake 4s ease-in-out 3s infinite alternate;
	position: relative;
	z-index: 5;
}

// Animation
.animation {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	max-width: 100%;
	font-size: 0;
	text-align: center;
	z-index: 4;
}
.animation__item {
    width: 2%;
    display: inline-block;
    box-sizing: border-box;
    max-width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    animation: float 3s ease-in-out 0s infinite;
    position: relative;
    opacity: 0;
    @for $i from 1 through 50 {
    	&:nth-child(50n+#{$i}){
    		animation-duration: 3s + ($i * .1) / 10;
    		animation-delay: .1s * $i;
    		top: -10px * $i * .1;
    		background-color: rgba(132 - $i, 125 - $i, 152 - $i, 1);
    	}
    }
}