// Are you ready?
// Just unload all of the scss file, and feel free to work as you need ;)
// Kick it!

@keyframes flip {
	0% {
		transform: translateY(100%);
	}
	100% {
		transform: translateY(0%);
	}
}

body {
	margin: 0;
	background-color: #421C52;
}
#page-wrapper {
	h1, h2, p {
		font-family: 'Open Sans', sans-serif;
		font-weight: 600;
		padding: 1em 20px;
		color: #fff;
		margin: 0;
	}
	h1 {
		font-size: 42px;
		background-color: #522C62;
	}
	h2 {
		font-size: 28px;
		font-weight: normal;
	}
	p {
		font-weight: normal;
		font-size: 14px;
	}
}
.animation-container {
	font-size: 0;
	position: fixed;
	bottom: 0;
	width: 100%;
	left: 0;
	&:hover {
		span {
			padding: 90px 0;
		}
	}
	&:active {
		span {
			padding: 120px 0;
			opacity: .9;
		}
	}
	span {
		display: inline-block;
		width: 4%;
		padding: 45px 0;
		box-shadow: inset 2px 0 2px rgba(0,0,0,.1);
		transition: .2s ease padding;
		animation: flip 1s cubic-bezier(0.79, 0.05, 0.58, 1) 0s infinite alternate both;
		@media (max-width:768px){
			width: 6.666%;
		}
		@for $i from 1 through 25 {
			&:nth-child(25n+#{$i}){
				background-color: rgba(#9575CD, $i * .05);
				animation-delay: 0.05s * $i;
				@media (max-width:768px){
					@if ($i > 15){
						position: absolute;
						visibility: hidden;
						transition: 0;
					}
				}
			}
		}
	}
}